<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoWidget">

        <!-- Full Screen Overlay Activity -->
        <activity
            android:name=".ui.FullScreenOverlayActivity"
            android:exported="true"
            android:theme="@style/Theme.TransparentOverlay"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!-- Widget Provider -->
        <receiver
            android:name=".provider.GridWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/grid_widget_info" />
        </receiver>

    </application>

</manifest>
