<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoWidget">

        <!-- Transparent Overlay Activity -->
        <activity
            android:name=".ui.EditorOverlayActivity"
            android:theme="@style/Theme.TransparentOverlay"
            android:exported="false"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:taskAffinity="" />

        <!-- Widget Provider -->
        <receiver
            android:name=".ui.MemoWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memo_widget_info" />
        </receiver>

    </application>

</manifest>
